@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

#burger{
    background-color: rgb(34, 34, 34);
    display: block;
    text-align: center;
    padding: 10px;
    color: white;
}

body > main{
    background-image: url('imagens/pexels-caleboquendo-3162022.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right top;
}
header{
    background-color: black;
}

header > h2{
    text-align: center;
    color: white;
}

h1{
    text-align: center;
}

div{
    display: block;
    text-align: center;
    }

#burger:hover{
    background-color: white;
    color: black;
}

menu{
    display: none;
}

menu > ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

menu > ul > li > a{
    background-color: rgb(92, 92, 92);
    padding: 10px;
    text-align: center;
    display: block;
    border-top: 2px solid black;
    color: white;
}

menu > ul > li > a:hover{
    background: rgb(221, 219, 219);
}

section{
    text-align: justify;
    line-height: 2em;
}

section h2{
    text-align: center;
}


section.imagem{
    padding-top: 10vh;
    padding-bottom: 10vh;
    color: white;
}

section.imagem > p{
    display: block;
    background-color: rgba(0, 0, 0, 0.555);
    width: 350px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
}

section.normal{
   background-color: white;
   padding-top: 20px;
}

main.p2{
     background-image: url('imagens/fundo-madeira.jpg');
     background-size: cover;
}

section.p2{
    padding: 20px;
}

main.p3{
    background-image: url('imagens/fundo-madeira.jpg');
}

table{
    border-collapse: collapse;
    min-width: 390px;
}
caption{
    font-size: 1.5em;
    margin: auto;
    padding: 10px;
    background-color: rgba(128, 128, 128, 0.432);
}
tbody>tr:nth-child(even){
    background-color: rgba(128, 128, 128, 0.322);
}
th{
    background-color: gray;
}
th,td{
    border: 1px solid black;
    padding: 10px;
} 
.numero{
    text-align: right;
}
footer{
    background-color: black;
    color: white;
    padding: 20px;
}

footer h2{
    text-align: center;
    color: white;
}

